body {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  background-color: red;
  margin: 0 1.9%;
}

.nav-link {
  font-weight: bold;
}

.heading {
  color: #999;
  font-size: 1.1em;
  font-weight: bold;
}

.category,
.category-2 {
  background-color: rgb(224, 224, 224);
  margin-top: -35px;
}

.category a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.category-2 a {
  text-decoration: none;
  font-weight: bold;
}

.story-body a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  line-height: 20px;
  font-weight: bold;
}

.stories a,
.more-stories a {
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
}

.stories a {
  color: #999;
}

.more-stories a {
  color: #000;
}

.story-tag:hover {
  color: red;
  text-decoration: underline;
}

header img {
  width: 350px;
  height: auto;
}

.story-img {
  max-height: 95px;
  cursor: pointer;
}

.people img {
  border: 0.1px solid white;
  border-radius: 30px;
  background-color: red;
  height: 60px;
  width: 65px;
  margin: 0 1.5%;
}

.people-red {
  border-top: 5px solid red;
}

.people-blue {
  border-bottom: 5px solid blue;
}

.people-tag {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.people span {
  font-size: 0.8em;
  font-weight: bold;
}

.magazine h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.grid-heading span {
  height: 28px;
  width: 29px;
  background: red url('./Images/n.svg');
}

.magazine-item span {
  font-weight: bold;
}

.magazine-item a {
  font-weight: bold;
}

.magazine-item > a {
  color: #000;
  line-height: 1.1;
  font-size: 1.2em;
}

.topic-item a {
  font-size: 1.3em;
  line-height: 1.1;
}

.magazine-item div a {
  color: red;
}

.topic-heading a {
  color: #f72210;
  font-weight: bold;
  font-size: 1.1em;
}

.topics a {
  font-weight: bold;
  color: #000;
}

.footer-first a,
.second-footer a {
  color: #333;
  font-weight: 300;
}

.people a:hover {
  color: red;
}

.editors-pick .magazine-item > a {
  font-size: 1.4em;
}

.magazine .magazine-item img {
  height: 60%;
}

.topic-items > div:first-of-type {
  height: 25%;
}

.img-2 {
  width: 160px;
  height: 200px;
  position: absolute;
}

.img-2 {
  left: 100px;
  top: 135px;
}

.subscribe-content h4,
.second-footer h6,
.sub-footer h6 {
  font-weight: bold;
}

.border-secondary {
  border-color: #ebebeb!important;
}

.subscribe button {
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
}

.subscribe button img {
  width: 14px;
  height: 14px;
  margin-left: 4px;
}

.footer-left {
  align-items: baseline;
}

.footer-left p {
  font-size: 0.8em;
}

.footer-left img {
  width: 55%;
}

.footer-first i {
  font-size: 1.3em;
}

@media only screen and (max-width: 576px) {
  header {
    margin: 0;
  }

  header img {
    width: 120px;
    margin-left: 0;
  }

  .story-head img {
    width: 100%;
  }
}