* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(236, 236, 236);
}

header {
  background-color: red;
}

header,
main,
footer,
.magazine-container {
  max-width: 1310px;
}

.nav-link {
  font-weight: bold;
}

.heading {
  color: #999;
  font-size: 1.1em;
  font-weight: bold;
}

.category,
.category-2 {
  background-color: rgb(224, 224, 224);
  margin-top: -35px;
}

.category a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.category-2 a {
  text-decoration: none;
  font-weight: bold;
}

.story-body a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  line-height: 20px;
  font-weight: bold;
}

.stories a,
.more-stories a {
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
}

.stories a {
  color: #999;
}

.more-stories a {
  color: #000;
}

.story-tag:hover {
  color: red;
  text-decoration: underline;
}

header img {
  width: 350px;
  height: auto;
}

.story-img {
  max-height: 95px;
  cursor: pointer;
}

.people img {
  border: 0.1px solid white;
  border-radius: 30px;
  background-color: red;
  height: 60px;
  width: 65px;
  margin: 0 1.5%;
}

.people-red {
  border-top: 5px solid red;
}

.people-blue {
  border-bottom: 5px solid blue;
}

.people-tag {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.people span {
  font-size: 0.8em;
  font-weight: bold;
}

.magazine h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.grid-heading span,
.start-day span {
  background: red url("./Images/n.svg");
  background-repeat: no-repeat;
}

.start-day span {
  height: 30px;
  width: 50px;
}

.grid-heading span {
  height: 28px;
  width: 29px;
}

.magazine-item span {
  font-weight: bold;
}

.magazine-item a {
  font-weight: bold;
}

.magazine-item > a {
  color: #000;
  line-height: 1.1;
  font-size: 1.2em;
}

.topic-item a {
  font-size: 1.3em;
  line-height: 1.1;
}

.topic-heading a {
  color: #f72210;
  font-weight: bold;
  font-size: 1.1em;
}

.topics a {
  font-weight: bold;
  color: #000;
}

.footer-first a,
.second-footer a {
  color: #333;
  font-weight: 300;
}

.magazine-item div a {
  color: red;
}

.people a:hover {
  color: red;
}

.editors-pick .magazine-item > a {
  font-size: 1.4em;
}

.footer-left img {
  width: 55%;
}

.subscribe button img {
  width: 14px;
  height: 14px;
  margin-left: 4px;
}

.magazine .magazine-item img {
  height: 60%;
}

.topic-items > div:first-of-type {
  height: 25%;
}

.form-inline input {
  border: none;
  font-size: 1.1em;
}

.search {
  width: 20px;
  height: 20px;
  margin-left: -20px;
}

.form-inline .btn-warning {
  font-weight: bold;
  color: #000;
  border-radius: 15px;
}

.subscribe button {
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
}

.form-inline button:first-of-type {
  font-weight: bold;
  text-transform: uppercase;
}

.form-inline .btn-warning img {
  width: 10px;
  height: 10px;
  padding-left: 5px;
}

.img-2 {
  width: 160px;
  height: 200px;
  position: absolute;
  left: 100px;
  top: 135px;
}

.start-day h5 {
  line-height: 1;
}

.start-day h5,
.subscribe-content h4,
.second-footer h6,
.sub-footer h6 {
  font-weight: bold;
}

.border-secondary {
  border-color: #ebebeb !important;
}

.footer-left {
  align-items: baseline;
}

.footer-left p {
  font-size: 0.8em;
}

.footer-first i {
  font-size: 1.3em;
}

@media only screen and (min-width: 1025px) and (max-width: 1220px) {
  .nav-link {
    font-size: 14px;
  }

  .form-inline .nav-search {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .nav-link {
    font-size: 14px;
  }

  .signup {
    max-width: 50%;
    margin: 0 auto;
  }

  .form-inline .nav-search {
    font-size: 0.9em;
  }

  .second-footer .footer-list {
    display: block;
    margin: 0;
    padding: 0;
  }

  .second-footer .footer-list li {
    display: inline-block;
  }

  .second-footer .footer-list a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  header img {
    width: 120px;
    margin-left: 0;
  }

  .signup {
    max-width: 50%;
    margin: 0 auto;
  }

  .story-head img {
    width: 100%;
  }

  .second-footer .footer-list {
    display: block;
    margin: 0;
    padding: 0;
  }

  .second-footer .footer-list li {
    display: inline-block;
  }

  .second-footer .footer-list a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 576px) {
  header {
    margin: 0;
  }

  header img {
    width: 120px;
    margin-left: 0;
  }

  .expandable {
    padding: 10px 0px;
  }

  .signup {
    max-width: 100%;
  }

  .story-head img {
    width: 100%;
  }

  .second-footer .footer-list {
    display: block;
    margin: 0;
    padding: 0;
  }

  .second-footer .footer-list li {
    display: inline-block;
  }

  .second-footer .footer-list a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 380px) {
  .login {
    display: none;
  }
}
