body {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  background-color: red;
  margin: 0 1.9%;
}

.nav-link {
  font-weight: bold;
}

.heading {
  color: #999;
  font-size: 1.1em;
  font-weight: bold;
}

.category,
.category-2 {
  background-color: rgb(224, 224, 224);
  margin-top: -35px;
}

.category a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.category-2 a {
  text-decoration: none;
  font-weight: bold;
}

.story-body a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  line-height: 20px;
  font-weight: bold;
}

.stories a,
.more-stories a {
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
}

.stories a {
  color: #999;
} 

.more-stories a {
  color: #000;
}


.story-tag:hover {
  color: red;
  text-decoration: underline;
}

header img {
  width: 350px;
  height: auto;
}

.story-img {
  max-height: 95px;
  cursor: pointer;
}

.people img {
  border: 0.1px solid white;
  border-radius: 30px;
  background-color: red;
  height: 60px;
  width: 65px;
  margin: 0 1.5%;
}

.people-red {
  border-top: 5px solid red;
}

.people-blue {
  border-bottom: 5px solid blue;
}

.people a:hover {
  color: red;
}

.people-tag {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.people span {
  font-size: 0.8em;
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  header {
    margin: 0;
  }

  header img {
    width: 120px;
    margin-left: 0;
  }

  .story-head img {
    width: 100%;
  }
}